<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche & Filtres Avancés</title>
    <link rel="stylesheet" href="/static/filter.css"> 
    <link rel="stylesheet" href="/static/index.css"> 
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <a href="/" class="logo">
                    <img src="/Images/473.jpeg" alt="Logo" class="logo1"> 
                </a>
                
                
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/aboutus">Plus sur nous</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="filter-panel">
                <h2>Filtres Rapides</h2>
                <div class="filter-buttons">
                    <a class="filter-btn" href="?filter=verifDanemark">Né au Danemark</a>
                    <a class="filter-btn" href="?filter=verifSuède">Né en Suède</a>
                    <a class="filter-btn" href="?filter=verifNorvège">Né en Norvègé</a>
                    <a class="filter-btn" href="?filter=verifDébut">évolue durant le début l'age des vikings</a>
                    <a class="filter-btn" href="?filter=verifExpansion">évolue durant l'expansion des vikings</a>
                    <a class="filter-btn" href="?filter=verifApoge"> évolue durant l'apogée des vikings</a>
                    <a class="filter-btn" href="?filter=verifFin"> évolue durant la fin de l'age des vikings</a>
                    <a class="filter-btn reset-btn" href="?filter=réinitialiser">réinitialiser</a>
                </div>
            </section>
            
            <h2 style="margin-top: 30px;">Résultats des Filtres</h2>

            <div class="cards-container">
                {{ range . }}
                <div class="card">
                    <img src="{{ .Image }}" alt="{{ .Name }}">
                    <div class="card-content">
                        <h2>{{ .Name }}</h2>
                        <p><strong>Premier album :</strong> {{ .FirstAlbum }}</p>
                        <p><strong>Membres :</strong></p>
                        <ul>
                            {{ range .Members }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                        <form method="GET" action="/artist">
                            <input type="hidden" name="id" value="{{ .ID }}">
                            <button class="btn secondary" type="submit">Voir l'artiste</button>
                        </form>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>2025 Music Tracker</p>
        </div>
    </footer>
</body>
</html>