<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }} - Viking Tracker</title>
    <link rel="stylesheet" href="/static/page/viking.css?v=2">
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <a href="/" class="logo">
                    <img src="/static/images/symbole.jpg" alt="Logo" class="logo1">
                </a>
                <h1 class="site-title">Viking Tracker</h1>
                <ul>

                    <li><a href="/filtre">Recherche approfondie</a></li>
                    <li><a href="/aboutus">A propos</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="artist-detail">
                
                <div class="header-info">
                    <img src="{{ .Image }}" alt="Photo de {{ .Name }}" class="artist-image" onerror="this.src='/static/images/default.jpg'">
                    
                    <div class="main-info">
                        <h1>{{ .Name }}</h1>
                        <p><strong>Année de naissance :</strong> {{ if ne .Birthday 0 }}{{ .Birthday }}{{ else }}Inconnue{{ end }}</p>
                        <p><strong>Année de mort :</strong> {{ if ne .Deadyears 0 }}{{ .Deadyears }}{{ else }}Inconnue{{ end }}</p>
                        <p><strong>Période :</strong> {{ .Time }}</p>
                        <p><strong>Pays de naissance :</strong> {{ .BirthLocation }}</p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
</html>